{% extends "base.html" %}

{% block content %}
    <h2>Eliminar Articulo</h2>
    <p>¿Estás seguro de que deseas eliminar el siguiente Articulo?</p>
    <ul>
        <li><strong>Nombre:</strong> {{ Articulo.nombre_articulo }}</li>
        <li><strong>Seccion:</strong> {{ articulo.seccion }}</li>
        <li><strong>Codigo:</strong> {{ articulo.codigo_articulo }}</li>
    </ul>
    <form method="POST">
        <!-- Botón de confirmación -->
        <button type="submit" class="btn btn-danger btn-eliminar" data-codigo_articulo="{{ articulo.codigo_articulo }}">Confirmar Eliminación <i class="bi bi-trash3"></i></button>
        <!-- Botón de cancelación -->
        <a href="{{ url_for('articulos.articulos_lista') }}" class="btn btn-secondary">Cancelar <i class="bi bi-x-square"></i></a>
    </form>
{% endblock %}

